.git
.gitignore
.env
backend/vaca.db
backend/backend/vaca.db
backend/backend
backend/.userbot_secrets.key
backend/*.session
backend/telethon_sessions
backend/backend/telethon_sessions
backend/.pytest_cache
backend/__pycache__
backend/**/__pycache__
frontend/node_modules
frontend/dist
.DS_Store
